@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,400i,700");

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: #556aa6;
  color: #fff;
  font-family: Inconsolata, sans-serif;
  font-size: 20px;
}

input, select {
  margin-bottom: 20px;
  margin-left: 15px;
  background-color: inherit;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  outline: none;
  font-family: Inconsolata, sans-serif;
  font-size: 1.1rem;
  width: 100%;
}

option {
  background-color: #fff;
  color: #000;
}

label {
  margin-bottom: 10px;
}

.calculator {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

td select,
td input {
  width: 160px;
}

.cap {
  font-weight: 500;
  font-size: 1.32rem;
}

.money {
  font-weight: 600;
  color: #8FFED1;
}

#diagram td {
  vertical-align: bottom;
  text-align: center;
  padding: 10px;
}

#diagram div {
  margin: 0 25px;
}

#height-before {
  background: #F11212;
  width: 40px;
  height: 100px
}

#height-after {
  background: #3DD717;
  width: 40px;
  height: 0;
} 